<template name="dashboard">
    <div class="template-dashboard">
        <div class="page-header">
            <h1>Dashboard</h1>
        </div>

        <div class="row">
            <div class="col-md-offset-4 col-md-4 form-inline" >
                <label>Surf Spot</label>
                <select id="spots-select" class="form-control">
                    <option selected>Choose a spot</option>
                    {{#each spots}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>


    </div>
</template>
